appId: "bestrong-api"

replicaCount: 1

image:
  repository: acrdotnetcrudbestrong.azurecr.io/dotnet-crud-api
  tag: "1.0.0"
  pullPolicy: IfNotPresent

env:
  ASPNETCORE_ENVIRONMENT: "Development"

# connectionStrings:
#   default: "Host=postgres;Port=5432;Database=moviesdb;Username=movies_user;Password=movies_pass"

service:
  port: 80
  targetPort: 8080

rollout:
  autoPromotionEnabled: true
  # scaleDownDelaySeconds: 30

ingress:
  host: bestrong.pp.ua
  tls:
    secretName: bestrong-tls
