appId: "bestrong-api"

replicaCount: 1

image:
  repository: acrdotnetcrudbestrong.azurecr.io/dotnet-crud-api
  tag: "1.0.0"
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

env:
  ASPNETCORE_ENVIRONMENT: "Development"

connectionStrings:
  default: "Host=postgres;Port=5432;Database=moviesdb;Username=movies_user"


service:
  port: 80
  targetPort: 8080

rollout:
  autoPromotionEnabled: true
  # scaleDownDelaySeconds: 30

ingress:
  host: bestrong.pp.ua
  tls:
    secretName: bestrong-tls


postgres:
  replicas: 1

  image:
    repository: postgres
    tag: "16"

  service:
    port: 5432

  auth:
    database: moviesdb
    username: movies_user
    secretName: postgres-secret

  persistence:
    size: 10Gi
    storageClassName: manual
    hostPath: /mnt/postgres-data
