apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.appId }}-ingress
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.ingress.certManager.issuerRef.name }}
spec:
  ingressClassName: azure-application-gateway
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: {{ .Values.ingress.path }}
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.appId }}-stable
                port:
                  number: {{ .Values.service.port }}
  tls:
    - secretName: {{ .Values.ingress.tls.secretName }}
      hosts:
        - {{ .Values.ingress.host }}