name: CD Deploy (Blue/Green)

on:
  workflow_run:
    workflows: ["CI Build (Terraform + Docker + Helm)"]
    types: [completed]


env:
  # ===== HARD-CODED INFRA =====
  ACR_NAME: testdrivemegacr
  ACR_LOGIN: testdrivemegacr.azurecr.io
  AKS_NAME: testdrive-aks 
  AKS_RG: test-rg-bg

  # ===== PROJECT =====
  IMAGE_NAME: dotnet-crud-api
  APP_ID: bestrong-api
  HELM_REPO: helm
  APP_CHART: bestrong-app
  ROUTE_CHART: bestrong-routing
  ROUTE_RELEASE: bestrong-routing

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Install tools
        run: |
          curl -sSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          az aks install-cli
          sudo apt-get update -y
          sudo apt-get install -y jq

      - name: Set vars
        run: |
          echo "TAG=${{ github.event.workflow_run.run_number }}" >> $GITHUB_ENV
          echo "CHART_VERSION=0.1.${{ github.event.workflow_run.run_number }}" >> $GITHUB_ENV

      - name: Connect to AKS
        run: |
          az aks get-credentials \
            -g "$AKS_RG" \
            -n "$AKS_NAME" \
            --overwrite-existing

      - name: Helm login to ACR (OCI)
        run: |
          TOKEN=$(az acr login --name "$ACR_NAME" \
            --expose-token --query accessToken -o tsv)

          helm registry login "$ACR_LOGIN" \
            -u 00000000-0000-0000-0000-000000000000 \
            -p "$TOKEN"

      - name: Bootstrap if empty
        run: |
          set -e

          if ! helm status "$ROUTE_RELEASE" >/dev/null 2>&1; then
            echo "Bootstrap: BLUE + routing"

            helm upgrade --install bestrong-blue \
              oci://$ACR_LOGIN/$HELM_REPO/$APP_CHART \
              --version "$CHART_VERSION" \
              --set appId=$APP_ID \
              --set color=blue \
              --set image.repository=$ACR_LOGIN/$IMAGE_NAME \
              --set image.tag=$TAG

            helm upgrade --install "$ROUTE_RELEASE" \
              oci://$ACR_LOGIN/$HELM_REPO/$ROUTE_CHART \
              --version "$CHART_VERSION" \
              --set appId=$APP_ID \
              --set activeColor=blue

            exit 0
          fi

      - name: Compute next color
        run: |
          ACTIVE=$(helm get values "$ROUTE_RELEASE" -o json | jq -r '.activeColor')
          if [ "$ACTIVE" = "blue" ]; then NEXT=green; else NEXT=blue; fi
          echo "NEXT=$NEXT" >> $GITHUB_ENV
          echo "Active=$ACTIVE Next=$NEXT"

      - name: Deploy next color
        run: |
          helm upgrade --install bestrong-$NEXT \
            oci://$ACR_LOGIN/$HELM_REPO/$APP_CHART \
            --version "$CHART_VERSION" \
            --set appId=$APP_ID \
            --set color=$NEXT \
            --set image.repository=$ACR_LOGIN/$IMAGE_NAME \
            --set image.tag=$TAG

      - name: Switch traffic
        run: |
          helm upgrade "$ROUTE_RELEASE" \
            oci://$ACR_LOGIN/$HELM_REPO/$ROUTE_CHART \
            --version "$CHART_VERSION" \
            --reuse-values \
            --set activeColor=$NEXT
