name: CI/CD (Docker + Helm + Blue/Green)

on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      tag:
        description: "Image/Chart tag to deploy (default = current run number)"
        required: false

env:
  # ===== HARD-CODED INFRA =====
  ACR_NAME: bestrongacr123
  ACR_LOGIN: bestrongacr123.azurecr.io
  AKS_NAME: bestrong-aks
  AKS_RG: BeStrongTeam01

  # ===== PROJECT =====
  TF_DIR: terraform
  IMAGE_NAME: dotnet-crud-api
  APP_CHART_DIR: helm-charts/bestrong-app
  ROUTE_CHART_DIR: helm-charts/bestrong-routing
  HELM_REPO: helm
  TAG: ${{ github.run_number }}

  # ===== DEPLOY =====
  APP_ID: bestrong-api
  APP_CHART: bestrong-app
  ROUTE_CHART: bestrong-routing
  ROUTE_RELEASE: bestrong-routing

  # auth azure
  AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

jobs:
  vars:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.vars.outputs.tag }}
      chart_version: ${{ steps.vars.outputs.chart_version }}
    steps:
      - name: Set TAG
        id: vars
        run: |
          TAG=${GITHUB_RUN_NUMBER}
          echo "tag=$TAG" >> "$GITHUB_OUTPUT"
          echo "chart_version=0.1.$TAG" >> "$GITHUB_OUTPUT"


  # terraform:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: azure/login@v2
  #       with:
  #         creds: ${{ secrets.AZURE_CREDENTIALS }}
  #     - uses: hashicorp/setup-terraform@v3
  #     - name: Terraform apply
  #       working-directory: ${{ env.TF_DIR }}
  #       run: |
  #         terraform init -input=false
  #         terraform apply -auto-approve -input=false

  docker:
    runs-on: ubuntu-latest
    # needs: terraform
    outputs:
      tag: ${{ steps.vars.outputs.tag }}
    steps:
      - uses: actions/checkout@v4

      - name: Set TAG
        id: vars
        run: |
          if [ -n "${{ inputs.tag }}" ]; then
            echo "tag=${{ inputs.tag }}" >> "$GITHUB_OUTPUT"
          else
            echo "tag=${{ github.run_number }}" >> "$GITHUB_OUTPUT"
          fi

      - name: Azure login (service principal)
        run: |
          az login \
            --service-principal \
            -u "$AZURE_CLIENT_ID" \
            -p "$AZURE_CLIENT_SECRET" \
            --tenant "$AZURE_TENANT_ID"

          az account set \
            --subscription "$AZURE_SUBSCRIPTION_ID"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push (ARM64)
        run: |
          az acr login --name "$ACR_NAME"

          docker buildx build \
            --platform linux/arm64 \
            -t $ACR_LOGIN/$IMAGE_NAME:$TAG \
            -f app/Dockerfile \
            --push .


  helm:
    runs-on: ubuntu-latest
    needs: [vars, docker]
    steps:
      - uses: actions/checkout@v4

      - name: Azure login
        run: |
          az login \
            --service-principal \
            -u "$AZURE_CLIENT_ID" \
            -p "$AZURE_CLIENT_SECRET" \
            --tenant "$AZURE_TENANT_ID"
          az account set --subscription "$AZURE_SUBSCRIPTION_ID"

      - name: Install Helm
        run: |
          curl -sSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Helm package & push (OCI)
        env:
          TAG: ${{ needs.vars.outputs.tag }}
        run: |
          TOKEN=$(az acr login --name "$ACR_NAME" \
            --expose-token --query accessToken -o tsv)

          helm registry login "$ACR_LOGIN" \
            -u 00000000-0000-0000-0000-000000000000 \
            -p "$TOKEN"

          helm package "$APP_CHART_DIR" \
            --version "0.1.$TAG" \
            --app-version "$TAG"

          helm push bestrong-app-*.tgz \
            oci://$ACR_LOGIN/$HELM_REPO


  deploy:
    runs-on: ubuntu-latest
    needs: [vars, helm, docker]
    steps:
      - uses: actions/checkout@v4

      - name: Azure login
        run: |
          az login \
            --service-principal \
            -u "$AZURE_CLIENT_ID" \
            -p "$AZURE_CLIENT_SECRET" \
            --tenant "$AZURE_TENANT_ID"
          az account set --subscription "$AZURE_SUBSCRIPTION_ID"

      - name: Connect to AKS
        run: |
          az aks get-credentials \
            -g "$AKS_RG" \
            -n "$AKS_NAME" \
            --overwrite-existing

      - name: Install Helm
        run: |
          curl -sSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Helm login to ACR
        run: |
          TOKEN=$(az acr login --name "$ACR_NAME" \
            --expose-token --query accessToken -o tsv)

          helm registry login "$ACR_LOGIN" \
            -u 00000000-0000-0000-0000-000000000000 \
            -p "$TOKEN"

      - name: Deploy (Argo Rollouts = Blue/Green)
        env:
          TAG: ${{ needs.vars.outputs.tag }}
        run: |
          helm upgrade --install bestrong-api \
            oci://$ACR_LOGIN/$HELM_REPO/bestrong-app \
            --version "0.1.$TAG" \
            --set image.repository=$ACR_LOGIN/$IMAGE_NAME \
            --set image.tag=$TAG
      
      - name: Apply Grafana config (Helm values)
        run: |
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts

          helm upgrade monitoring \
            prometheus-community/kube-prometheus-stack \
            -n monitoring \
            -f k8s-infra/helm-values/grafana-values.yaml \
            --wait=false

      - name: Apply Loki config (Helm values)
        run: |
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo update

          helm upgrade loki \
            grafana/loki \
            -n monitoring \
            -f k8s-infra/helm-values/loki-values.yaml \
            --wait=false

      - name: Apply OTEL config (Helm values)
        run: |
          helm repo add open-telemetry https://open-telemetry.github.io/opentelemetry-helm-charts
          helm repo update

          helm upgrade otel-collector \
            open-telemetry/opentelemetry-collector \
            -n monitoring \
            -f k8s-infra/helm-values/otel-values.yaml \
            --wait=false

      - name: Apply OpenCost config (Helm values)
        run: |
          helm repo add opencost https://opencost.github.io/opencost-helm-chart
          helm repo update

          helm upgrade opencost \
            opencost/opencost \
            -n opencost \
            -f k8s-infra/helm-values/opencost-values.yaml \
            --wait=false

      - name: Apply Certificates
        run: |
          kubectl apply -f k8s-infra/certificates

      - name: Apply Prometheus rules
        run: |
          kubectl apply -f k8s-infra/prometheus-rules